header {
	position: relative; 
    height : 50px;
	background-color : red;
	color : white;
	text-align : center;
	vertical-align : middle;
	line-height : 50px;
	font-size : 10px;
	font-weight : bold;	
}



footer {
	clear: both;
  	height : 50px;
	background-color : red;
	color : white;
	text-align : center;
	vertical-align : middle;
	line-height : 50px;
	font-size : 10px;
	font-weight : bold;	
}

